.header {
  background: #CC2B00;
  padding: $m-size;
}

.header__title {
  color: $off-white;
  font-size: $l-size;
}

.header__subtitle {
  color: $off-black;
  font-size: $m-size;
  color: white;
}
