.header {
  background: #CC2B00;
  padding: $m-size;
  text-align: center;
}

.header__title {
  color: $off-white;
  font-size: $l-size;
}

.header__subtitle {
  color: $off-black;
  font-size: $m-size;
  color: white;
}

.navbar{
  color: black;
  text-decoration: none;
  padding: 10px
}
